.App {
  text-align: left;
  background-color: #16A089;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: black;
  height: 200px;
  padding: 5px;
  color: white;
  font-family: 'Bubbler One', sans-serif;
}

.App-title {
  font-size: 3.5em;

}

.App-intro {
  font-size: large;
  background-color: white;
  font-family: 'Quicksand', sans-serif;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.login-button {
  float: right;
}

.logout-button {
  float: right;
}

.add-button {

}

/*Table*/

table {
  width: 100%;
  display: table;
}

thead {
  display: table-header-group;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

th {
  display: table-cell;
  padding: 10px;
  text-align: justify;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

tbody {
  display: table-row-group;
  background-color: white;
  padding: 10px;
  text-align: justify;

}

tr{
  display: table-row;

}

td {
  display: table-cell;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
