/*Main shit*/

body {
  text-align: left;
  background: radial-gradient(#2b9b66, #2d423a);
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000000;
  margin-bottom: 50px;
  padding: 20px;
  color: white;
  font-family: 'Bubbler One', sans-serif;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-two {
  display: flex;
  align-items: center;
}

.App-title {
  font-size: 3.5em;
}

.App-intro {
  font-size: large;
  background-color: white;
  font-family: 'Quicksand', sans-serif;
}


/*Photos*/

.hedwig {
  border: 3px solid #2b9b66;
  border-radius: 50%;
  margin-right: 20px;
}


/*Table and Chart Containers*/

.glucosecontainer {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  justify-content: center;
}

.glucoseviewsection {
  border-radius: 4px;
  box-shadow: 0px 1px 5px 1px #00000066;
  background: white;
  padding: 20px;
  margin: 10px;
  max-width: 600px;
}


/*Table*/

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th {
  display: table-cell;
  padding: 10px;
  text-align: center;
  border: none;
  background-color: #2b9b66;
  color: black;
}

tbody {
  display: table-row-group;
  background-color: white;
  padding: 10px;
  text-align: center;
}

tr{
  display: table-row;
}

tr:nth-child(odd) {
  background-color: #eeee;
}

td {
  display: table-cell;
  border: none;
  padding: 6px;
}

section{
  margin: 50px;
}


/*text*/

h3 {
  font-family: 'Bubbler One', sans-serif;
}


/*buttons*/

.add-button:hover {
  color: #2b9b66;
  text-decoration: none;
  cursor: pointer;
}
.add-button {
  margin-left: 20px;
  color: black;
}

a {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  color: #2b9b66;
}

.Logout {
  cursor: pointer;
  margin: 20px;
}

.Logout:hover {
  color: #2b9b66;
}

.footer {
  text-align: center;
}
